# Platform API base URL (used for server-side requests and proxy rewrites)
NEXT_PUBLIC_API_BASE_URL=http://localhost:8080

# OIDC / Identity provider settings
NEXT_PUBLIC_AUTH_DISABLED=false # TODO: remove this line when auth is ready
NEXT_PUBLIC_OIDC_AUTHORITY=https://oauth.kleff.io
NEXT_PUBLIC_OIDC_CLIENT_ID=32f5815b-47e3-41bc-b52e-20f760f5480e
ADMIN_URL=https://hydra-admin.kleff.ca
PUBLIC_URL=https://auth.kleff.io
